<ion-card button>
  <ion-card-header>
      <ion-card-title>{{station.title}}</ion-card-title>
      <ion-card-subtitle *ngIf="station.subtitle">{{station.subtitle}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
      <ion-list>
          <ion-item *ngFor="let project of station.projects" class="ion-align-items-start ion-text-left ion-margin-top">
              <p><ion-icon src="./assets/icon/bombilla.svg" slot="start"></ion-icon>Proyecto {{station.id}}.{{project.id}} : {{project.title}}</p>
          </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
