ion-card{
  height: 100%;
  ion-card-header{
    text-transform: uppercase;
    font-weight: bold;
    --background: var(--info-color);
    color: white;
    ion-card-title, ion-card-subtitle{
      color: white;
      font-weight: bold;
    }
  }
  ion-card-content{
    padding: 0;
    p{
      width: 100%;
    }
    ion-item{
      --border-color: transparent;
    }
  }
}