ion-card#projectDetail{
  background: var(--info-color);
  ion-card-title{
    text-align: center;
    color:  white;
  }
  ion-card-content{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}

ion-card{
  video {
    width: 100%;
  }
  img, ion-img {
    object-fit: cover;
  }
  ion-card-content{
    font-size: large;
    color: black;
    text-align: justify;
    ion-list{
      ion-list-header{
        background: var(--info-color);
        color: white;
        font-size: larger;
        ion-button{
          box-shadow: none;
        }
      }
    }
  }
}

.img-loaded + ion-spinner {
  display:none;
}
// .center in my case to make the spinner at the center
.center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  display: block;
}
ion-spinner{
  --color: var(--info-color);
}
ion-slides{
  ion-slide{
    :hover{
      cursor: pointer;
    }
    ion-card{
      height: 200px;
      width: 200px;
      img, ion-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

p{
  font-size: large;
  color: black
}
.mainImage{
  max-height: 500px;
}
