<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="back()">
            <ion-icon style="color: white" src="./assets/icon/back.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
      <ion-title class="ion-text-center main">CIyTT UNLP</ion-title>
  </ion-toolbar>
</ion-header>
<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-card id="projectDetail">
              <ion-card-header>
                  <ion-card-title>
                      {{getCurrentStationName()}}
                  </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-padding">
                  Proyecto {{getCurrentStationID()}}.{{currentProject.id}}: {{currentProject.title}}
              </ion-card-content>
          </ion-card>
      </ion-col>
        <ion-col size="12" *ngIf="currentProject.images">
            <ion-slides pager="true" [options]="slideOptsH">
                <ion-slide *ngFor="let imgs of currentProject.images; let i = index">
                    <ion-card>
                        <img [src]="imageSrc(imgs.fileName)" (click)="openModalImage(i)" alt="media" (load)="imageLoaded(i)" [ngClass]="{'img-loaded':loader[i]}" [hidden]="!loader[i]"/>
                        <ion-spinner name="crescent" [ngClass]="{'center':true}" *ngIf="!loader[i]"></ion-spinner>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
      <ion-row style="width: 100%" class="ion-justify-content-center">
        <ion-col size="12" class="ion-margin-end">
          <ion-card style="width: 100%">
              <img *ngIf="currentProject.mainImage" class="mainImage" [src]="imageSrc(currentProject.mainImage)" alt="Proyecto" />
              <vg-player *ngIf="currentProject.mainVideo && showVideo">
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>

                  <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>

                  <vg-controls [vgAutohide]="true" >
                      <vg-play-pause></vg-play-pause>
                      <vg-playback-button></vg-playback-button>

                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                      <vg-mute></vg-mute>

                      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                      <vg-track-selector></vg-track-selector>
                      <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video [vgMedia]="media" #media id="video" preload="auto" crossorigin webkit-playsinline="webkit-playsinline" class="videoPlayer">
                      <source [src]="videoSrc(currentProject.mainVideo)" type="video/mp4" />
                  </video>
              </vg-player>
            <ion-card-header>
            </ion-card-header>
            <ion-card-content class="ion-padding">
                <ion-list>
                    <ion-list-header>
                        Descripción <ion-button *ngIf="currentProject.descriptionAudio" (click)="handleAudio()"> {{isPlaying? 'Detener': 'Escuchar'}} <ion-icon [src]="isPlaying ? './assets/icon/stop.svg': './assets/icon/play.svg'" slot="end" style="font-size: small;"></ion-icon> </ion-button>
                    </ion-list-header>
                    <div class="ion-margin">
                        <div [innerHTML]="currentProject.description" class="ion-margin-top"></div>
                    </div>
                    <ion-list-header *ngIf="currentProject.authors">
                        Autores
                    </ion-list-header>
                    <div class="ion-margin" *ngIf="currentProject.authors">
                        <div [innerHTML]="currentProject.authors"></div>
                    </div>
                </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
