<div *ngIf="showSlides" class="slides-container inner-content">
<ion-slides [options]="slideOptsH" pager="true">
      <ion-slide *ngFor="let photo of images">
          <ion-card>
              <img [src]="getImageURL(photo.fileName)" alt="" />
          </ion-card>

      </ion-slide>
</ion-slides>
</div>
