.bgBackground.sc-ion-modal-md-h{
  --background: rgba(0, 0, 0, .8)!important;
}
ion-toolbar{
  --background: var(--info-color);
  background: var(--info-color);
  ion-icon{
    color: white;
    --icon-color: white
  }
  }
ion-content{
  --background: rgba(0, 0, 0, 0);
}

ion-card {
  height: 100%;
  margin: auto;
  display: contents;
  //width: 100% !important;
}
ion-slides{
  height: 100%;
  ion-card:hover{
    cursor: pointer;
  }
}
img{
  display: block;
  object-fit: contain;

}

.image--background {
  background-size: cover;
}
