/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/fonts/OpenSans-Regular.ttf');//mine
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: bold;
  src: url('./assets/fonts/OpenSans-Bold.ttf');//mine
}
@font-face {
  font-family: 'OpenSans-Italic';
  font-style: italic;
  src: url('./assets/fonts/OpenSans-Italic.ttf');//mine
}

body {
  font-family: 'OpenSans-Regular';
  strong{
    font-family: 'OpenSans-Bold';
  }
}
.swiper-pagination-progressbar{
  bottom: 0 !important;
  top: unset !important;
  --progress-bar-background-active: var(--info-color);

}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  width: 50%;
  left:20%
}
ion-button {
  --background: var(--info-color) !important;
  --background-activated: #842c2d !important;
  --background-hover: #842c2d !important;
}
ion-segment{
  ion-segment-button{
    --background-checked: var(--info-color) !important;
    --color: var(--info-color) !important;
    --border-color: var(--info-color) !important;
    --indicator-color: var(--info-color) !important;
    --color-checked: white;
  }
}
.presentationModal .modal-wrapper {
  width: 90%;
  height: 50%;
  position: absolute;
  display: block;
  --background: black;
  border-radius: 5%;
}

.imageModal .modal-wrapper {
  width: 90%;
  height: 50%;
  position: absolute;
  display: block;
  --background: black;
  border-radius: 5%;
  .inner-content {
    max-height: 80vh;
    overflow: auto;
    padding: 10px;
  }
}
app-header{
  background-color: var(--info-color);
  height: 80px;
}
.main{
  font-size: x-large;
}
