.stationTitleCard{
  background: var(--info-color);
  ion-card-title{
    text-align: center;
    color:  white;
  }
  ion-card-content{
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }
}
.projectName{
  height: 100%;
  width: 100%;
}
ion-button{
  height: 50px;
  ion-label{
    white-space: normal;
  }
}
ion-card{
  font-size: large;
  color: black;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  ion-button{
    height: 80px;
  }
}
