<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon style="color: white" src="./assets/icon/back.svg"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center main">CIyTT UNLP</ion-title>
  </ion-toolbar>
</ion-header>
<app-header></app-header>
<ion-content>
<ion-grid>
    <ion-row>
        <ion-col size="12">
            <ion-card class="stationTitleCard">
                    <ion-card-header>
                        <ion-card-title>
                            {{currentStation.title}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ion-padding">
                        {{currentStation.subtitle}}
                    </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" sizeLg="4" *ngFor="let project of currentStation.projects" >
                <ion-button  class="projectName" [routerLink]="'/proyecto/' + project.id" routerDirection="forward">
                    <ion-label>{{project.title}}</ion-label>
                </ion-button>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-card class="ion-padding" *ngIf="currentStation.descriptionAudio || currentStation.description" >
            <ion-button *ngIf="currentStation.descriptionAudio" (click)="handleAudio()"> {{isPlaying? 'Detener': 'Escuchar'}} <ion-icon [src]="isPlaying ? './assets/icon/stop.svg': './assets/icon/play.svg'" slot="end" style="font-size: small;"></ion-icon> </ion-button>
            <div  *ngIf="currentStation.description" [innerHTML]="currentStation.description"></div>
        </ion-card>
    </ion-row>
</ion-grid>
</ion-content>
