ion-button{
  --background: var(--info-color) !important;
  --background-activated: #842c2d !important;
  --background-hover: #842c2d !important;
  width: 100%;
  max-width: 200px;
  height: 100px;
  ion-label{
    white-space: normal;
    text-transform: uppercase;
    color: white;
  }
}
