<app-header></app-header>
<ion-content>
<ion-grid>
  <ion-row class="ion-align-items-center ion-text-center ion-justify-content-center">
    <ion-col class="ion-align-items-center ion-text-center" size="12" sizeLg="6">
        <img src="./assets/imgs/banner.png" alt="Facultad Informatica UNLP"/>
    </ion-col>
      <ion-col  size="12" sizeLg="6" class="ion-align-items-center ion-text-center">
          <ion-row class="ion-align-items-center ion-text-center" style="margin-top: 15%;">
              <ion-col class="ion-align-items-center ion-text-center" size="6" sizeLg="12">
                  <ion-button size="large" (click)="openModalVideo()"><ion-label>Ver video de presentación</ion-label>  </ion-button>
              </ion-col>
              <ion-col class="ion-align-items-center ion-text-center" size="6" sizeLg="12">
                  <ion-button size="large" routerLink="/estaciones" routerDirection="forward"> <ion-label>Recorrido de estaciones</ion-label> </ion-button>
              </ion-col>
          </ion-row>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
