<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon style="color: white" src="./assets/icon/back.svg"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center main"><strong>CI</strong>y<strong>TT</strong> UNLP</ion-title>
  </ion-toolbar>
</ion-header>
<app-header></app-header>
<ion-content>
    <ion-grid *ngFor="let floor of buildingData">
        <ion-row>
            <ion-col *ngFor="let station of floor.stations" size="12" sizeLg="6" class="ion-margin-top">
                <app-estacion [station]="station" [routerLink]="['/estacion', station.id]" routerDirection="forward"></app-estacion>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col class="ion-justify-content-center">
                <img class='footer' src="./assets/imgs/footer.png" alt="footer"/>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
